@import url("bootstrap-icons");
@import url("bootstrap");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

#logo {
    font-family: "Audiowide", sans-serif;
}

.form-control::placeholder {
    color: white;
}

main {
    min-height: 100vh;
}

.card {

    overflow: auto;

    .card-img {
        transition: all 0.3s ease-in;

        img {
            height: 513px;
        }
    }

    .card-img-overlay {
        transition: all 0.3s ease-in;
        opacity: 0%;

    }

    #flag {
        width: 24px;
        display: inline-block;
    }
}

.card::-webkit-scrollbar {
    display: none;
}

.card:hover {
    .card-img {
        opacity: 15%;
    }

    .card-img-overlay {
        opacity: 100%;
    }
}

.ratio {
    --bs-aspect-ratio: 150%;
}


@media screen and (max-width: 576px) {
    header {
        h1 {
            font-size: large;
        }

        form {
            flex-shrink: 1;
        }

    }
}